<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CastroL</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script type="text/javascript" src="jquery-1.7.1.min.js"></script>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>


<body>
    <!--Page Title-->
    <div class="p-5 bg-light fondo">
        <h1 class="text-dark p-3 ">Nintendo Block Hopper</h1>
        <!--Quote-->
        <h4 class=" text-dark text-end">
            Nintendo's mission is to try to make people happy, to try to make people smile.
        </h4>
    </div>

    <!--Navigation Pane-->
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">The Block Hopper</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!--Link to Nintendo's Official Site-->
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="https://www.nintendo.com/">Nintendo</a>
                    </li>
                    <!--Link to Nintendo's Official Shop Site-->
                    <li class="nav-item">
                        <a class="nav-link active" href="https://www.nintendo.com/store/games/">Shop</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--Formulario-->
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="shadow-lg p-3 mb-5 mt-4 bg-body rounded">
                    <div class="p-3 mb-2 bg-primary bg-gradient fw-bold text-white"> Sign up for free!</div>
                    <form class="row g-3 needs-validation" novalidate>

                        <div class="col-md-6 position-relative">
                            <label for="nombre" class="form-label">Name</label>
                            <input type="text" class="form-control" id="nombre" value=""
                                placeholder="Escriba sus nombres " required>
                            <!-- Mensajes para validación   -->
                            <div class="valid-tooltip">¡Campo válido!</div>
                            <div class="invalid-tooltip">Debe completar los datos.</div>
                        </div>

                        <div class="col-md-6 position-relative">
                            <label for="exampleFormControlInput1" class="form-label"> Email </label>
                            <input type="email" class="form-control" id="exampleFormControlInput1"
                                placeholder="correo@gmail.com" required>
                            <!-- Mensajes para validación   -->
                            <div class="valid-tooltip">¡Campo válido!</div>
                            <div class="invalid-tooltip">Debe completar los datos.</div>
                        </div>

                        <div class="col-md-12 position-relative">
                            <label for="apellido" class="form-label"> Subject</label>
                            <input type="text" class="form-control" id="comentario" value="" required>
                            <!-- Mensajes para validación   -->
                            <div class="valid-tooltip">¡Campo válido!</div>
                            <div class="invalid-tooltip">Debe completar los datos.</div>
                        </div>

                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label"> Message </label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                required></textarea>
                            <!-- Mensajes para validación   -->
                            <div class="valid-tooltip">¡Campo válido!</div>
                            <div class="invalid-tooltip">Debe completar los datos.</div>
                        </div>

                        <div class="mb-3">
                            <div class="g-recaptcha" data-sitekey="6LfUIgQhAAAAAFOevQRjy7J9b74-oc-tqwpxjRjj" ;> </div>

                        </div>


                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3">
                                <label class="form-check-label" for="invalidCheck3">
                                    Send me a copy of this message.
                                </label>
                            </div>
                        </div>

                        <div class="col-12">
                            <button class="btn btn-primary fw-bold float-end" type="submit">Send message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




</body>
<!--Footer-->
<footer class="text-end text-dark p-3">
    &copy; Elaborado por: Capt Castro Leopoldo<br>
    km 24 1/2 vía Quevedo<br>
    2022
</footer>

<script src="/static/js/scripts.js"></script>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>


</html>